<div class="container">
	<h1><i class="fa fa-users"></i>&nbsp;Users &nbsp; <button type="button" class="btn btn-warning" ui-sref="edit">Add user</button></h1>
	
	<list data="$ctrl.busqueda"></list>
</div>
