<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="#">Mobile Computing Test</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbar-menu"
		aria-controls="navbarNavAltMarkup" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-menu">
		<ul class="navbar-nav">
			<!-- <li class="nav-item" ui-sref-active="active" data-toggle="collapse"
				data-target="#navbar-menu" aria-expanded="false">
				<a class="nav-link" ui-sref="home">
					<i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home
				</a>
			</li> -->
			<li class="nav-item" ui-sref-active="active" data-toggle="collapse" data-target="#navbar-menu" aria-expanded="false">
				<a class="nav-link" ui-sref="user">
					<i class="fa fa-users" aria-hidden="true"></i>&nbsp;Users
				</a>
			</li>
		</ul>
	</div>
</nav>
