<div class="row justify-content-md-center">
	<div class="col-md-4">
		<div class="form-group">
			<input type="text" ng-model="$ctrl.searching" class="form-control" id="search" placeholder="Search">
		</div>
	</div>
	<div class="col-md-4">
		<div class="form-group">
			<select class="form-control" name="byCategory" ng-model="$ctrl.searching">
				<option value="">Filter</option>
				<option value="admin">Admin</option>
				<option value="user">User</option>
			</select>
		</div>
	</div>
</div>
<div class="table-responsive">
	<table class="table ">
		<thead>
			<th scope="col">

			</th>
			<th scope="col">Name</th>
			<th scope="col">Username</th>
			<th scope="col">Email</th>
			<th scope="col">Website</th>
			<th scope="col">Company</th>
			<th scope="col">Category</th>
		</thead>
		<tbody>
			<tr ng-repeat="user in $ctrl.users | filter:$ctrl.searching">
				<td>
					<a href="" ng-click="$ctrl.userEdit(user)" class="text-primary"><i class="fa fa-edit"></i></a>
					<a href="" ng-click="$ctrl.actionDelete($ctrl.users, user.id, $index)" class="text-danger"><i class="fa fa-trash"></i></a>
				</td>
				<td>{{user.name}}</td>
				<td>{{user.username}}</td>
				<td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
				<td>{{user.website}}</td>
				<td>{{user.company}}</td>
				<td>{{user.category}}</td>
			</tr>
		</tbody>
	</table>
</div>
