<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-offset-4 col-md-4">
      <h1 class="text-center">{{$ctrl.title}} &nbsp; <i class="fa fa-user"></i></h1>
      <hr>
      <form name="user">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" ng-model="$ctrl.user.name" class="form-control" id="name" placeholder="Enter name" required >
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" ng-model="$ctrl.user.username" class="form-control" id="username" placeholder="Username" required >
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" ng-model="$ctrl.user.email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required >
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="website">Website</label>
          <input type="text" class="form-control" ng-model="$ctrl.user.website" id="website" placeholder="Enter website">
        </div>
        <div class="form-group">
          <label for="company">Company</label>
          <input type="text" class="form-control" id="company" ng-model="$ctrl.user.company" placeholder="Enter company name">
        </div>

        <div class="form-group form-check checkbox text-center">
          <input type="checkbox" class="form-check-input" id="role" ng-model="$ctrl.user.category" ng-true-value="'admin'" ng-checked="$ctrl.user.category" ng-false-value="'user'" ng-init="($ctrl.user.category) ? $ctrl.user.category : $ctrl.user.category='user'"> 
          <label class="form-check-label" for="role">Role Administrator</label>
        </div>
        <hr>
        <div class="text-center">
          <button type="submit" ng-click="$ctrl.submit($ctrl.user)" ng-disabled="user.$invalid" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
